name: Pull Notification

on:
  workflow_run:
    workflows: ["Test & build Docker images"]
    types: [completed]
    branches: '**'

jobs:
  send:
    name: Checkout and send message
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Send Telegram notification
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TG_CHAT_ID }}
          token: ${{ secrets.TG_TOKEN }}
          message: |
            ✅ *Workflow "${{ github.event.workflow_run.name }}" Finalizado*
            ▫️ *Estado:* ${{ github.event.workflow_run.conclusion }}
            ▫️ *Rama:* ${{ github.event.workflow_run.head_branch }}
            ▫️ *Detalles:* [${{ github.event.workflow_run.id }}](${{ github.event.workflow_run.html_url }})
          format: markdown
